<nav class="sb-topnav navbar navbar-expand-lg navbar-light bg-grey" aria-label="Eighth navbar example">
  <div class="container-fluid">

    <button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#">
      <i class="fas fa-bars cor"></i>
    </button>
      <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
        <img src="assets/Logo1.png" width="118" height="40">
      </div>

    <div class="collapse navbar-collapse" id="navbarsExample07">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#"><i class="bi bi-house-fill"></i> Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/painelClientes"><i class="bi bi-person-lines-fill"></i> Clientes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/funcionarios" tabindex="-1" aria-disabled="true"><i class="bi bi-person-badge"></i> Funcionarios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/painelProdutos" tabindex="-1" aria-disabled="true"><i class="bi bi-grid-fill"></i> Produtos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/pedidos" tabindex="-1" aria-disabled="true"><i class="bi bi-bookmark-check"></i> Pedidos</a>
        </li>
      </ul>
      <form class="pesquisa">
        <input class="form-control" type="text" placeholder="Pesquisar" aria-label="Search">
      </form>
    </div>
    <div class="dropdown user">
      <a href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
      <i class="bi bi-person-circle"></i>
      </a>

      <ul class="dropdown-menu dropdown-menu-end dropdown-menu-start">
        <li><a class="dropdown-item" href="#">Pedidos</a></li>
        <li><a class="dropdown-item" href="#">Perfil</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#"><i class="bi bi-box-arrow-right"></i> Sair</a></li>
      </ul>
    </div>
  </div>
</nav>

