<section class="rPeople">

  <h1 class="mt-4 titles"> Relação de Funcionarios</h1>
  <a class="inclui" [routerLink]="['/funcionario']"><i class="fas fa-plus-circle"></i></a>
  <div class="container-fluid">
    <div class="table-responsive tableCli">
      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered table-hover">
        <thead>
          <tr>
            <th >ID</th>
            <th >Nome</th>
            <th >E-mail</th>
            <th >CPF</th>
            <th >Data de nascimento</th>
            <th >Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let funcionario of funcionarios$ |async">
            <td>{{funcionario.id}}</td>
            <td>{{funcionario.nome}}</td>
            <td>{{funcionario.email}}</td>
            <td>{{funcionario.cpf}}</td>
            <td>{{funcionario.dataNascimento}}</td>
            <td>
              <div class="lbtn">
                <button class="btn btn-outline-warning btn-sm" data-toggle="modal" data-target="#clienteModal" [routerLink]="['/funcionario', funcionario.id]">Editar </button>
                <button class="btn btn-outline-danger btn-sm"  data-toggle="modal" data-target="#excluir" (click)="OnDelete(funcionario)">Excluir </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
