<section class="Produto">

  <h1 class="mt-4 titles"> Registro de Produtos</h1>
  <a class="inclui" [routerLink]="['/produtos']"><i class="fas fa-plus-circle"></i></a>
  <div class="container-fluid">
    <div class="tableProduto">
      <table class="table table-bordered">
        <thead class="thead-dark">
          <tr>

            <th scope="col">ID Produto</th>
            <th scope="col">Nome</th>
            <th scope="col">Descrição</th>
            <th scope="col">Preço</th>
            <th scope="col">Quantidade</th>
            <th scope="col">Categoria</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let produto of produtos$|async">
            <td>{{produto.id}}</td>
            <td>{{produto.nome}}</td>
            <td>{{produto.preco}}</td>
            <td>{{produto.quantidade}}</td>
            <td>{{produto.descricao}}</td>
            <td>
              <div class="lbtn">
                <button class="btn btn-outline-warning btn-sm" data-toggle="modal" data-target="#editModel">Editar </button>
                <button class="btn btn-outline-danger btn-sm"  data-toggle="modal" data-target="#excluir"  (click)="(produto)">Excluir </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
