<section class="forms">
  <h1 class="mt-4 titles">Cadastro de Produtos:</h1>
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-lg-12">
                  <div class="body">
                      <form [formGroup]="editForm" method="post">
                        <div class="form-row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <label class="small mb-1" for="inputFirstName">Nome:</label>
                              <app-input errorMessage="Formato de nome incorreto" label="nome" >
                                  <input class="form-control py-4" type="text" formControlName="nome" placeholder="Nome"  required/>
                              </app-input>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="small mb-1" for="inputLastName">Preço:</label>
                                <app-input errorMessage="Formato de preço incorreto" label="preco" >
                                <input class="form-control py-4" type="text" formControlName="preco" placeholder="Preço"  required />
                              </app-input>
                            </div>
                        </div>
                        </div>
                          <div class="form-row">
                              <div class="col-md-6">
                                <div class="form-group">
                                    <label class="small mb-1" for="inputCPF">Quantidade:</label>
                                    <app-input errorMessage="Quantidade Incorreta" label="cpf" >
                                    <input class="form-control py-4" type="number" min="1" formControlName="quantidade" placeholder="Quantidade" />
                                  </app-input>
                                </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-group">
                                  <label class="small mb-1" for="inputData">Categoria:</label>
                                <app-input errorMessage="Formato de Categoria incorreto" label="categoria" >
                                  <input class="form-control py-4" type="text" formControlName="categoria" placeholder="Categoria" />
                                </app-input>
                              </div>
                          </div>
                          </div>
                          <div class="form-group">
                              <label class="small mb-1" for="inputEmailAddress">Descrição:</label>
                            <app-input errorMessage="Formato de Descrição incorreto" label="descricao" >
                              <input class="form-control py-4" type="text" formControlName="descricao" placeholder="Descrição" />
                            </app-input>
                          </div>
                          <div class="row">
                            <div class="col-md-6 buttons">
                              <button type="submit" class="btn btn-success-amarelo"  [disabled]="!editForm.valid" (click)="salvar()">
                                <div class="cor2"><i class="fa fa-save"></i> Salvar</div>
                              </button>
                              <button type="button" class="btn btn-secondary cancel" (click)="close()">Cancelar</button>
                            </div>
                          </div>
                      </form>
                  </div>
              </div>
          </div>
      </div>
</section>
