<h1 class="mt-4 center">Cadastro de Produtos</h1>
<br>
<div class="container">
  <form #produtoForm="ngForm" (ngSubmit)="onSubmit()">

    <div *ngIf="success" class="alert alert-success" role="alert">
      Cadastro realizado com Sucesso!
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label>Nome: *</label>
          <input type="text" class="form-control" [(ngModel)]="produto.nome" name="nome"/>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>Descrição: *</label>
          <input type="text" class="form-control" [(ngModel)]="produto.descricao" name="descricao" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label>Preço: *</label>
          <input type="text" class="form-control" [(ngModel)]="produto.preco" name="preco"/>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>Quantidade:</label>
          <input type="text" class="form-control" [(ngModel)]="produto.quantidade" name="quantidade"/>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>Categoria:</label>
          <input type="text" class="form-control" [(ngModel)]="produto.categoria" name="categoria"/>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
          <button type="submit" class="btn btn-success-amarelo" (click)="salvar()">
            <div class="cor2">
              <i class="fa fa-save"></i> Salvar
            </div>
          </button>
      </div>
    </div>
  </form>
</div>
