<h1 class="mt-4 center">Cadastro de Pedido</h1>
<br>
<div class="container">
  <form #clienteForm="ngForm" (ngSubmit)="onSubmit()">

    <div *ngIf="success" class="alert alert-success" role="alert">
      Pedido realizado com Sucesso!
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label>Número:</label>
          <input type="text" class="form-control" [(ngModel)]="cliente.nome" name="nome"/>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <button type="submit" class="btn btn-success-amarelo" (click)="salvar()">
          <div class="cor2">
            <i class="fa fa-save"></i> Salvar
          </div>
        </button>
      </div>
    </div>
  </form>
</div>

