
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Cadastrar Pedido</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="pedido-name" class="col-form-label">Nome:</label>
            <input type="text" class="form-control" required="true" id="pedido-name" placeholder="Digite o nome do pedido">
          </div>
          <div class="mb-3">
            <label for="pedido-quantiddae" class="col-form-label">Quantidade:</label>
            <input type="number" class="form-control" required="true" id="pedido-quantidade" placeholder="Digite a quantidade do pedido">
          </div>
          <div class="mb-3">
            <label for="pedido-quantiddae" class="col-form-label">Preço:</label>
            <input type="text" class="form-control" required="true" id="pedido-quantidade" placeholder="Digite o preço do pedido">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar <i class="fas fa-"></i></button>
        <button type="button" class="btn btn-success">Salvar <i class="fas fa-check"></i></button>
      </div>
    </div>
  </div>
</div>
