
<section class="formcli">

  <h1 class="mt-4 titles"> Registros de Cliente</h1>
  <div class="container">
    <form [formGroup]="editForm" method="post">

      <div class="row">
        <div class="col-md-6">
          <div>
            <div class="form-group">
              <label for="validationDefault01" class="form-label">Nome:</label>
            <input type="text"  placeholder="Nome" class="form-control" formControlName="nome" [value]="this.cliente?.nome" required/>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="validationDefault02" class="form-label">Email:</label>
            <input type="email" placeholder="Email" class="form-control" formControlName="email" [value]="this.cliente.email" required/>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="validationDefault03" class="form-label">CPF:</label>
            <input type="text" placeholder="CPF" class="form-control" formControlName="cpf" [value]="this.cliente.cpf"  mask="<000.000.000-00>" required/>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="validationDefault04" class="form-label">Data de nascimento:</label>
            <input type="date" class="form-control" formControlName="dataNascimento" [value]="this.cliente.dataNascimento" required/>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 buttons">
          <button type="submit" class="btn btn-success-amarelo"  [disabled]="!editForm.valid" (click)="salvar()">
            <div class="cor2"><i class="fa fa-save"></i> Salvar</div>
          </button>
          <button type="button" class="btn btn-secondary cancel" (click)="close()">Cancelar</button>
        </div>
      </div>
    </form>
  </div>
</section>
