.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}
.cancel
{
  margin: 1em;
}
.titles{
  text-align: center;
  padding-bottom: 1.5em;
}
.btn-success-amarelo{
  color: #fff;
  background-color: #F4C573;
  border-color: #F4C573;
}
.btn-success-amarelo:hover {
  color: #fff;
  background-color: #D9AE62;
  border-color: #D9AE62;
}
.btn-success-amarelo:focus, .btn-success-amarelo.focus {
  color: #fff;
  background-color: #D9AE62;
  border-color: #D9AE62;
  box-shadow: 0 0 0 0.2rem rgba(72, 180, 97, 0.5);
}
.btn-success-amarelo.disabled, .btn-success-amarelo:disabled {
  color: #fff;
  background-color: #F4C573;
  border-color: #F4C573;
}
.btn-success-amarelo:not(:disabled):not(.disabled):active, .btn-success-amarelo:not(:disabled):not(.disabled).active, .show > .btn-success-amarelo.dropdown-toggle {
  color: #fff;
  background-color: #D9AE62;
  border-color: #1c7430;
}
.btn-success-amarelo:not(:disabled):not(.disabled):active:focus, .btn-success-amarelo:not(:disabled):not(.disabled).active:focus, .show > .btn-success-amarelo.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(72, 180, 97, 0.5);
}
