.titles{
  text-align: center;
  padding-bottom: 1em;
}
.tableCli
{
  font-size: 1em;
}
.lbtn button
{
  margin: 0 0.5em 0 0;
}
.inclui
{
  font-size: 4em;
  position: fixed;
  bottom: 70px;
  right: 30px;
  object-fit: cover;
  transition: transform 0.5s ;
}

.fa-plus-circle
{
  color: #FFC107;
}
.inclui:hover
{

  transform: scale(1.2);
}

