<section class="rCli">

  <h1 class="mt-4 titles"> Relação de clientes</h1>

  <div class="container-fluid">
    <div class="tableCli">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Nome</th>
            <th scope="col">E-mail</th>
            <th scope="col">CPF</th>
            <th scope="col">Data de nascimento</th>
            <th scope="col">Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cliente of clientes$ |async">
            <td>{{cliente.id}}</td>
            <td>{{cliente.nome}}</td>
            <td>{{cliente.email}}</td>
            <td>{{cliente.cpf}}</td>
            <td>{{cliente.dataNascimento}}</td>
            <td>
              <div class="lbtn">
                <button class="btn btn-outline-warning btn-sm" data-toggle="modal" data-target="#editModel" [routerLink]="['/editarCliente', cliente.id]">Editar </button>
                <button class="btn btn-outline-danger btn-sm"  data-toggle="modal" data-target="#excluir"  (click)="OnDelete(cliente)">Excluir </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>

</section>


